* {
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    color: #4A4E74;
    width: 500px;
    height: 868px;
    left: 73px;
    top: 960px;
    background-color: #23252C;
    margin: 0;
}

.container {
    width: 317px;
    height: 480px;
    background: #F5F5F5;
    border-radius: 10px 10px 0px 0px;
    margin-top: 45px;
    margin-left: 117px;
}

.headshot {
    width: 317px;
    left: 116px;
    top: 44px;
    border-radius: 10px 10px 0px 0px;
    margin: 0;    
}

.text-area {
    text-align: center;
}

.name {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #2B283A;
    
}

.title {
    font-weight: 400;
    font-size: 13px;
    line-height: 5px;
    color: #F47D27;   
}

.portfolio {
    font-weight: 400;
    font-size: 10.24px;
    line-height:20px;  
}

.portfolio a:link, .portfolio a:visited, .portfolio a:hover, .portfolio a:active {
    text-decoration:  none;   
    color: #4A4E74; 
}


.button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;    
}

.email-btn, .linkedin-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    left: 283px;
    top: 469px;
    background: #297FE5;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}


a:link, a:visited, a:hover, a:active{   
    color: #FFFFFF;
    text-decoration: none;
}

.email-btn {
    background: lightslategrey;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: #374151;
}

.about-container, .interests-container {   
    width: 317px;
    height: 110px;
    background: #F5F5F5;
    display: inline-block;
    margin-left: 117px;
    padding: 0 35px;
}

.interests-container {
    height: 130px;   
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 5px;
    color: #2B283A;
    margin-top: 30px
}

p {
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #4A4E74;
}

.footer-container {
    width: 317px;
    height: 64px;
    background: #D5D4D8;
    display: inline-block;
    margin-left: 117px;
    padding: 0 35px; 
    border-radius: 0px 0px 10px 10px;  
}

.footer-flex {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;   
}

